repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
      - id: ruff-format
        files: ./server/
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        files: ./server/
